# Set OSTAD_BROKER to auto-connect on server startup. Leave it blank for the login dialog.
OSTAD_BROKER=demo
OSTAD_LOGIN=
OSTAD_PASSWORD=
OSTAD_SERVER=Ostad-Demo
OSTAD_API_KEY=
OSTAD_API_SECRET=
OSTAD_ACCOUNT_ID=
OSTAD_ALLOWED_WALLETS=0x77787076fCfC8E722F8FaE50814a77DDd98b65be
OSTAD_DEPOSIT_ADDRESS=0x55dbf0c3070aec3272d997696755a5ce011c7955
