# Set OSTAD_BROKER to auto-connect on server startup. Leave it blank for the login dialog.
OSTAD_BROKER=demo
OSTAD_LOGIN=
OSTAD_PASSWORD=
OSTAD_SERVER=Ostad-Demo
OSTAD_API_KEY=
OSTAD_API_SECRET=
OSTAD_ACCOUNT_ID=
